applicationConfigFile=application.config
userConfigFile=%user.dir%/.serialMonitor.config
consoleWidth=600
consoleHeight=800
defaultSerialSpeed=9600
defaultFontFamily=Courier new
defaultFontSize=12
defaultForeground=#222222
defaultSystemForeground=#ff0000

serialPortComboWidth=75
serialSpeedComboWidth=70
autoScrollSelected=true

title=SerialMonitor window #{0}